{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_foot/header.html' %}
</head>
<body>
    <div class="container-fluid documentation">
      <div class="row">
        <div class="col-md-12 col-xl-12 main-panel">
          <div class="main-panel-wrapper">
              <div class="row">
                  <div class="col-12 mb-4">
                      <h2 class="mt-2 text-center font-weight-light text-uppercase">{{title1}}</h2>
                  </div>
                  <div class="col-12">
                      <div class="card col-12 mb-4">
                          <div class="card-body form-group">
                              <h3 class="mb-4">{{title1}}</h3>
                              <textarea class='form-control main-panel file-upload-info' disabled>{{page}}</textarea>
                          </div>
                      </div>
                  </div>
              </div>  
          </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'assets/vendors/codemirror/codemirror.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.45.0/mode/ruby/ruby.min.js"></script>
    <script src="{% static 'assets/vendors/pwstabs/jquery.pwstabs.min.js' %}"></script>
    <script src="script.js"></script>
</body>
</html>